.container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: black;
}

.content {
  background-color: aliceblue;
  aspect-ratio: 1/1;
  cursor: pointer;
  justify-content: center;
}

.sketch {
  background-color: rgba(0, 0, 0, 0.1);
}

.sketch-two {
  background-color: rgba(0, 0, 0, 0.2);
}

.sketch-three {
  background-color: rgba(0, 0, 0, 0.3);
}

.sketch-four {
  background-color: rgba(0, 0, 0, 0.4);
}

.sketch-five {
  background-color: rgba(0, 0, 0, 0.5);
}

.sketch-six {
  background-color: rgba(0, 0, 0, 0.6);
}

.sketch-seven {
  background-color: rgba(0, 0, 0, 0.7);
}

.sketch-eight {
  background-color: rgba(0, 0, 0, 0.8);
}

.sketch-nine {
  background-color: rgba(0, 0, 0, 0.9);
}

.sketch-ten {
  background-color: rgba(0, 0, 0, 1.0);
}


.buttons-container {
  display: flex;
  flex-wrap: wrap;
  font-family: arial;
  width: 906px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  justify-content: space-between;
}

.title {
  border-style: none;
  font-weight: bold;
  color: rgb(9, 0, 71);
  font-size: 35px;
}

.new-sketchpad {
  background-color: rgb(79, 103, 147);
  border-style: none;
  padding: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}